body{
   
    background-color: black;
}

img{
    width: 20%;
    display:inline-block;
    vertical-align: middle;

    border-radius: 100%;
}

p{
    
    color: white;
    text-align: center;
}
 h1{
    width: 60%;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
    
 }
ul, h3, footer{
    color: white;
}
a{
    color: blue;
}

 